
a{
  text-decoration: none !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0rem !important;
    font-weight: 500;
    line-height: 1.2;
}
body{
  font-family: 'Lato', sans-serif;
}
.bottom-border{
  border-bottom: 2px solid #a5bac0;
  border-top: 2px solid #a5bac0;
}
