<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.bundle.css" />
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon" />

</head>

<body>
  <header class="header">
    <section class="nav-account">
      <div class="container">
        <div class="row no-gutters">
          <div class=" col-sm-12 col-lg-12">
            <div class="d-flex flex-row justify-content-between">
              <div class="shop-offers">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">New arrivals</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Gift ideas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">#MyVictorinox</a>
                  </li>
                </ul>
              </div>
              <div class="account-links">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-male"></i>&nbsp;Account </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-map-marker-alt"></i>&nbsp;Stores</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div </div> </section> <section class="search-box">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-sm-12 col-lg-12">
              <form class="form-inline search-form d-flex justify-content-end">
                <div class="form-group mx-sm-3 mb-2">
                  <input type="password" class="form-control" placeholder="Search...">
                </div>
              </form>
            </div>
          </div>
        </div>
    </section>
    <section class="nav-header">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="#"><img src="./img/Victorynox.jpg" alt="" class="logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars fa-2x"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav d-flex justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Swiss Army Knives</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Cutlery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Watches</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Travel Gear</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Fragrances</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Victorinox</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </header>
  <section class="shop_area mb-5 mt-6 bottom-border pb-5  pt-5">
    <div class="container">
      <div class="row no-gutters mt-3 mb-3">
        <div class="col-lg-12">
          <img src="./img/shop_banner.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-12">
          <h3 class="product-title mt-5">Victorinox Small Pocket Knives</h3>
          <p class="product-text mt-2">We took the original Swiss Army Knife and made it even smaller, so it's even easier to take with you everywhere. Each one disappears easily onto a keychain or into your pocket. And each one makes
            a grand entrance every time you run into a problem that needs solving. Never before has something so small saved the day so often.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-12 justify-content-md-center">
          <div class="row no-gutters">
            <div class="col-sm-12 col-lg-3">
              <aside class="aside">
                <form action="">
                  <h3 class="product-title pt-3 pb-3">Filter Results</h3>
                  <button class="main-button w-100  mt-3 mb-3" oninvalid="" type="reset">Clear</button>
                  <div class="price-filter  pt-3 pb-3 filter-bottom">
                    <a class="product-title w-100" data-toggle="collapse" href="#collapsePrice" role="button" aria-expanded="false" aria-controls="collapsePrice">
                      Price
                    </a>
                    <div class="collapse" id="collapsePrice">
                      <div class="card card-body">
                        <fieldset class="filter-price">
                          <div class="price-field">
                            <input type="range" id="rangeInput1" name="rangeInput1" min="0" max="249" value="0" oninput="amount1.value=rangeInput1.value">
                            <output name="amount1" id="amount1" for="rangeInput1" class="amount1">1</output>
                            <input type="range" id="rangeInput2" name="rangeInput2" min="249" max="500" value="500" oninput="amount2.value=rangeInput2.value">
                            <output name="amount2" id="amount2" for="rangeInput2" class="amount2">500</output>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <div class="size-filter  pt-3 pb-3 filter-bottom">
                    <a class="product-title w-100" data-toggle="collapse" href="#collapseSize" role="button" aria-expanded="false" aria-controls="collapseSize">
                      Size
                    </a>
                    <div class="collapse" id="collapseSize">
                      <div class="card card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            58 mm <span>16</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                          <label class="form-check-label" for="defaultCheck2">
                            65 mm <span>4</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                          <label class="form-check-label" for="defaultCheck3">
                            74 mm <span>3</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="features-filter  pt-3 pb-3 filter-bottom">
                    <a class="product-title w-100" data-toggle="collapse" href="#collapseFeatures" role="button" aria-expanded="false" aria-controls="collapseFeatures">
                      No. of Features
                    </a>
                    <div class="collapse" id="collapseFeatures">
                      <div class="card card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            15 <span>16</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                          <label class="form-check-label" for="defaultCheck2">
                            10 <span>4</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                          <label class="form-check-label" for="defaultCheck3">
                            11 <span>3</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                          <label class="form-check-label" for="defaultCheck4">
                            12 <span>3</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="color-filter  pt-3 pb-3 filter-bottom">
                    <a class="product-title w-100" data-toggle="collapse" href="#collapseColor" role="button" aria-expanded="false" aria-controls="collapseColor">
                      Color
                    </a>
                    <div class="collapse" id="collapseColor">
                      <div class="card card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            green <span>16</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                          <label class="form-check-label" for="defaultCheck2">
                            red <span>4</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                          <label class="form-check-label" for="defaultCheck3">
                            black <span>3</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                          <label class="form-check-label" for="defaultCheck4">
                            yellow <span>3</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tools-filter  pt-3 pb-3 filter-bottom">
                    <a class="product-title w-100" data-toggle="collapse" href="#collapseTools" role="button" aria-expanded="false" aria-controls="collapseTools">
                      Tools
                    </a>
                    <div class="collapse" id="collapseTools">
                      <div class="card card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Phillips screwdriver 0/1, magnetic <span>16</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                          <label class="form-check-label" for="defaultCheck2">
                            USB stick 3.0/3.1 <span>4</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                          <label class="form-check-label" for="defaultCheck3">
                            nail cleaner <span>3</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="material-filter pt-3 pb-3 filter-bottom">
                    <a class="product-title w-100" data-toggle="collapse" href="#collapseMaterial" role="button" aria-expanded="false" aria-controls="collapseMaterial">
                      Material
                    </a>
                    <div class="collapse" id="collapseMaterial">
                      <div class="card card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            ABS <span>16</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                          <label class="form-check-label" for="defaultCheck2">
                            Alox <span>4</span>
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                          <label class="form-check-label" for="defaultCheck3">
                            walnut wood <span>3</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="main-button w-100 mt-3 mb-3" type="reset">Clear</button>
                </form>
              </aside>
            </div>
            <div class="col-sm-12 col-lg-9">
              <div class="row no-gutters">
                <div class="col-sm-6 col-lg-4 p-2">
                  <div class="product-card">
                    <div class="image_product-card">
                      <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="product-title">Grand Steack Knife</h5>
                      <a href="#" class="text-left sub-card-title ">Wellnut wood</a>
                      <p class="product-text">$456</p>
                      <button class="main-button">Buy It</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 p-2">
                  <div class="product-card">
                    <div class="image_product-card">
                      <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="product-title">Grand Steack Knife</h5>
                      <a href="#" class="text-left sub-card-title ">Wellnut wood</a>
                      <p class="product-text">$456</p>
                      <button class="main-button">Buy It</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 p-2">
                  <div class="product-card">
                    <div class="image_product-card">
                      <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="product-title">Grand Steack Knife</h5>
                      <a href="#" class="text-left sub-card-title ">Wellnut wood</a>
                      <p class="product-text">$456</p>
                      <button class="main-button">Buy It</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 p-2">
                  <div class="product-card">
                    <div class="image_product-card">
                      <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="product-title">Grand Steack Knife</h5>
                      <a href="#" class="text-left sub-card-title ">Wellnut wood</a>
                      <p class="product-text">$456</p>
                      <button class="main-button">Buy It</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 p-2">
                  <div class="product-card">
                    <div class="image_product-card">
                      <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="product-title">Grand Steack Knife</h5>
                      <a href="#" class="text-left sub-card-title ">Wellnut wood</a>
                      <p class="product-text">$456</p>
                      <button class="main-button">Buy It</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 p-2">
                  <div class="product-card">
                    <div class="image_product-card">
                      <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="product-title">Grand Steack Knife</h5>
                      <a href="#" class="text-left sub-card-title ">Wellnut wood</a>
                      <p class="product-text">$456</p>
                      <button class="main-button">Buy It</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 p-2">
                  <div class="product-card">
                    <div class="image_product-card">
                      <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="product-title">Grand Steack Knife</h5>
                      <a href="#" class="text-left sub-card-title ">Wellnut wood</a>
                      <p class="product-text">$456</p>
                      <button class="main-button">Buy It</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 p-2">
                  <div class="product-card">
                    <div class="image_product-card">
                      <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="product-title">Grand Steack Knife</h5>
                      <a href="#" class="text-left sub-card-title ">Wellnut wood</a>
                      <p class="product-text">$456</p>
                      <button class="main-button">Buy It</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 p-2">
                  <div class="product-card">
                    <div class="image_product-card">
                      <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="product-title">Grand Steack Knife</h5>
                      <a href="#" class="text-left sub-card-title ">Wellnut wood</a>
                      <p class="product-text">$456</p>
                      <button class="main-button">Buy It</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-12">
                  <nav aria-label="navigation">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer pt-3 pb-5">
    <div class="container">
      <div class="row no-gutters pt-5">
        <div class="col-sm-12  col-lg-7">
          <div class="row no-gutters">
            <div class=" col-sm-12 col-lg-4">
              <h4 class="footer-title">About Us</h4>
              <ul class="nav flex-column  footer-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Company</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Welcome to Victorynox</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Careers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Press to Contacts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Visit Us</a>
                </li>
              </ul>
            </div>
            <div class=" col-sm-12 col-lg-4">
              <h4 class="footer-title">Products</h4>
              <ul class="nav flex-column footer-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Pocket knives</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Kitchen knives</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Watches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Travel Gear</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Fragrances</a>
                </li>
              </ul>
            </div>
            <div class=" col-sm-12 col-lg-4">
              <h4 class="footer-title">Services</h4>
              <ul class="nav flex-column  footer-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Support</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Store Finder</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">My account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Promotion(B2B)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12  col-lg-5">
          <div class="d-flex flex-row">
            <div class="title-icon">
              <h4 class="footer-title text-left mb-2">Follow us:</h4>
            </div>
            <div class="social-icons">
              <nav class="nav">
                <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
                <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                <a class="nav-link" href="#"><i class="fab fa-youtube-square"></i></a>
              </nav>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="title-newsletter">
              <h4 class="footer-title text-left mb-2">Register for newsletter:</h4>
            </div>
            <div class="newsletter-box mt-3 mb-3">
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control w-100" placeholder="email@example.com">
                </div>
                <button type="submit" class="main-button">Subscribe</button>
              </form>
            </div>
          </div>
          <div class="d-flex flex-wrap">
            <div class="tag d-flex flex-row flex-wrap">
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/bundle.js"></script>
</body>

</html>
