<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.bundle.css" />
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon" />

</head>

<body>
  <header class="header">
    <section class="nav-account">
      <div class="container">
        <div class="row no-gutters">
          <div class=" col-sm-12 col-lg-12">
            <div class="d-flex flex-row justify-content-between">
              <div class="shop-offers">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">New arrivals</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Gift ideas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">#MyVictorinox</a>
                  </li>
                </ul>
              </div>
              <div class="account-links">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-male"></i>&nbsp;Account </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-map-marker-alt"></i>&nbsp;Stores</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div </div> </section> <section class="search-box">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-sm-12 col-lg-12">
              <form class="form-inline search-form d-flex justify-content-end">
                <div class="form-group mx-sm-3 mb-2">
                  <input type="password" class="form-control" placeholder="Search...">
                </div>
              </form>
            </div>
          </div>
        </div>
    </section>
    <section class="nav-header">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="#"><img src="./img/Victorynox.jpg" alt="" class="logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars fa-2x"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav d-flex justify-content-around">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Swiss Army Knives</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Cutlery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Watches</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Travel Gear</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Fragrances</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Victorinox</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </header>
  <section class="product_area bottom-border  pb-5  pt-5">
    <div class="container">
      <div class="row no-gutters mt-3 mb-3">
        <div class="col-lg-12">
          <img src="./img/shop_banner.jpeg" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-12 col-lg-12">
          <div class="d-flex flex-row product-card">
            <div class="flex-fill">
              <h2 class="product-title">Rally</h2>
              <div class="reviews">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <img src="./img/product/p1/1.jpg" alt="" class="img-fluid">
            </div>
            <div class="flex-fill flex-grow-1">
              <div class="d-flex flex-column">
                <div class="color-avaible">
                  Avaible in color:
                </div>
                <div class="sell_area">
                  <button class="main-button">Buy It</button>
                </div>
                <div class="meta-action">
                  <ul class="nav">
                    <li class="nav-item p-2">
                      <a class="nav-link" href="#"><i class="far fa-heart fa-2x"></i></a>
                      <p>Wishlist</p>
                    </li>
                    <li class="nav-item p-2">
                      <a class="nav-link" href="#"><i class="fas fa-arrows-alt fa-2x"></i></a>
                      <p>Compare</p>
                    </li>
                    <li class="nav-item p-2">
                      <a class="nav-link" href="#"><i class="fab fa-steam fa-2x"></i></a>
                      <p>Share</p>
                    </li>
                  </ul>
                </div>
                <div class="key_features">
                  <h3 class="product-title">Key features</h3>
                  <ul class="product-text">
                    <li>The companion for your road trip</li>
                    <li>Swiss made pocket knife with 9 functions</li>
                    <li>Includes a magnetic Phillips screwdriver and bottle opener</li>
                  </ul>
                </div>
                <div class="">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Item number</th>
                        <th scope="col">0.6163</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Height</th>
                        <td>9 mm</td>
                      </tr>
                      <tr>
                        <th>Length</th>
                        <td>58 mm</td>
                      </tr>
                      <tr>
                        <th>Weight</th>
                        <td>22 g</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-6 col-lg-6">
          <h3 class="product-title">Small Pocket Knife with Magnetic Screwdriver</h3>
          <p class="product-text">Life is full of twists, turns, flicks and jumps, with the occasional pit stop in between. Be ready with the Rally pocket knife.
            It's packed with features like a magnetic Phillips screwdriver and a cap lifter. Ready. Set. Race.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-12 col-lg-12">
          <div class="features-collapse">
            <p>
              <button class="main-button" type="button" data-toggle="collapse" data-target="#collapseFeatures" aria-expanded="false" aria-controls="collapseFeatures">
                Features
              </button>
            </p>
            <div class="collapse  mb-5" id="collapseFeatures">
              <div class="card card-body">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <h5>Width</h5>
                        </td>
                        <td>
                          <h5>128mm</h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5>Height</h5>
                        </td>
                        <td>
                          <h5>508mm</h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5>Depth</h5>
                        </td>
                        <td>
                          <h5>85mm</h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5>Weight</h5>
                        </td>
                        <td>
                          <h5>52gm</h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5>Quality checking</h5>
                        </td>
                        <td>
                          <h5>yes</h5>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="features-collapse">
            <p>
              <button class="main-button" type="button" data-toggle="collapse" data-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
                Review
              </button>
            </p>
            <div class="collapse mb-5" id="collapseReview">
              <div class="card card-body">
                <div class="row no-gutters">
                  <div class="col-lg-6">
                    <div class="comment_list">
                      <div class="review_item">
                        <div class="media">
                          <div class="d-flex">
                            <img src="img/product/review-1.png" alt="" class="img-fluid">
                          </div>
                          <div class="media-body">
                            <h4  class="product-title">Blake Ruiz</h4>
                            <h5>12th Feb, 2018 at 05:56 pm</h5>
                            <a class="reply_btn" href="#">Reply</a>
                          </div>
                        </div>
                        <p  class="product-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                          commodo</p>
                      </div>
                      <div class="review_item reply">
                        <div class="media">
                          <div class="d-flex">
                            <img src="img/product/review-2.png" alt="">
                          </div>
                          <div class="media-body">
                            <h4 class="product-title">Blake Ruiz</h4>
                            <h5>12th Feb, 2018 at 05:56 pm</h5>
                            <a class="reply_btn" href="#">Reply</a>
                          </div>
                        </div>
                        <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                          commodo</p>
                      </div>
                      <div class="review_item">
                        <div class="media">
                          <div class="d-flex">
                            <img src="img/product/review-3.png" alt="">
                          </div>
                          <div class="media-body">
                            <h4  class="product-title">Blake Ruiz</h4>
                            <h5>12th Feb, 2018 at 05:56 pm</h5>
                            <a class="reply_btn" href="#">Reply</a>
                          </div>
                        </div>
                        <p  class="product-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                          commodo</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="review_box">
                      <h5  class="product-title">Post a comment</h5>
                      <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="text" class="form-control w-100" id="name" name="name" placeholder="Your Full name">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="email" class="form-control w-100" id="email" name="email" placeholder="Email Address">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="text" class="form-control w-100" id="number" name="number" placeholder="Phone Number">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea class="form-control w-100" name="message" id="message" rows="1" placeholder="Message"></textarea>
                          </div>
                        </div>
                        <div class="col-md-12 text-right">
                          <button type="submit" value="submit" class="main-button">Submit Now</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="features-collapse">
              <p>
                <button class="main-button" type="button" data-toggle="collapse" data-target="#collapseWarranty" aria-expanded="false" aria-controls="collapseWarranty">
                  Warranty
                </button>
              </p>
              <div class="collapse" id="collapseWarranty">
                <div class="card card-body">
                  <p  class="product-text">Victorinox AG guarantees all knives and tools to be of first class stainless steel and also guarantees a life time against any defects in material and workmanship
                  (save for electronic components 2 years). Damage caused by normal wear and tear, misuse or abuse are not covered by this guarantee.
                </div></p>
              </div>
            </div>
          </div>
        </div>

            <div class="row no-gutters">
              <div class="col-sm-12 col-lg-12">
                <h3 class="product-title text-center mt-4 mb-4 display-3">Related Products</h3>
              </div>
              <div class="col-sm-12 col-lg-12">
                <div id="shopCarousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="product-card">
                            <div class="card">
                              <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Grand Steack Knife</h5>
                              <a href="#" class="text-left sub-card-title">Wellnut wood</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="product-card">
                            <div class="card">
                              <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Grand Steack Knife</h5>
                              <a href="#" class="text-left sub-card-title">Wellnut wood</a>
                            </div>
                          </div>

                        </div>
                        <div class="col-md-4">
                          <div class="product-card">
                            <div class="card">
                              <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Grand Steack Knife</h5>
                              <a href="#" class="text-left sub-card-title">Wellnut wood</a>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="product-card">
                            <div class="card">
                              <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Grand Steack Knife</h5>
                              <a href="#" class="sub-card-title text-left">Wellnut wood</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="product-card">
                            <div class="card">
                              <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Grand Steack Knife</h5>
                              <a href="#" class="sub-card-title text-left">Wellnut wood</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="product-card">
                            <div class="card">
                              <img src="./img/product/p1/1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Grand Steack Knife</h5>
                              <a href="#" class="sub-card-title text-left">Wellnut wood</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </div>
  </section>
  <footer class="footer pt-3 pb-5">
    <div class="container">
      <div class="row no-gutters pt-5">
        <div class="col-sm-12  col-lg-7">
          <div class="row no-gutters">
            <div class=" col-sm-12 col-lg-4">
              <h4 class="footer-title">About Us</h4>
              <ul class="nav flex-column  footer-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Company</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Welcome to Victorynox</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Careers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Press to Contacts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Visit Us</a>
                </li>
              </ul>
            </div>
            <div class=" col-sm-12 col-lg-4">
              <h4 class="footer-title">Products</h4>
              <ul class="nav flex-column footer-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Pocket knives</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Kitchen knives</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Watches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Travel Gear</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Fragrances</a>
                </li>
              </ul>
            </div>
            <div class=" col-sm-12 col-lg-4">
              <h4 class="footer-title">Services</h4>
              <ul class="nav flex-column  footer-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Support</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Store Finder</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">My account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Promotion(B2B)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12  col-lg-5">
          <div class="d-flex flex-row">
            <div class="title-icon">
              <h4 class="footer-title text-left mb-2">Follow us:</h4>
            </div>
            <div class="social-icons">
              <nav class="nav">
                <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
                <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                <a class="nav-link" href="#"><i class="fab fa-youtube-square"></i></a>
              </nav>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="title-newsletter">
              <h4 class="footer-title text-left mb-2">Register for newsletter:</h4>
            </div>
            <div class="newsletter-box mt-3 mb-3">
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control w-100" placeholder="email@example.com">
                </div>
                <button type="submit" class="main-button">Subscribe</button>
              </form>
            </div>
          </div>
          <div class="d-flex flex-wrap">
            <div class="tag d-flex flex-row flex-wrap">
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
              <div class="block">
                <a href="" class="tag-name">Legal notices</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/bundle.js"></script>
</body>

</html>
